.header{
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(https://images.unsplash.com/photo-1578258826350-708e15ac8c99?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-blend-mode: multiply;
    background-position: center bottom;
    background-size: cover;
    height: 380px;

}